#portifolio{
    height: 190vh;
}

.portifolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

.portifolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portifolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portifolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portifolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portifolio__links{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    #portifolio{
        height: 210vh;
        margin-left: 0;
        margin-right: 10rem;
    }

    .portifolio__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    #portifolio{
        height: 500vh;
    }

    .portifolio__container{
        display: flex;
        flex-direction: column;
    }
}