@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Press+Start+2P&display=swap');

#header{
    width: 100%;
    height: 100%;
}

.screen{
    background-color: rgb(0, 83, 0);
    padding: 2rem;
    height: 100rem;
}

.screen h3{
    font-family: 'Nunito', sans-serif;
    font-family: 'Press Start 2P', cursive;
    color: greenyellow;
    text-shadow: 0 0 5px;
    animation: typing-word 3.5s steps(40, end);
}

.typing{
    content: "";
    width: 1rem;
    height: 1.5rem;
    background-color: greenyellow;
    display: block;
    box-shadow: 1px 1px 10px 2px greenyellow;
    animation-name: typing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes typing {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes typing-word {
    from{
        width: 0;
    }to{
        width: 100% ;
    }
}